.trellolist{
    background: #c7cbc9;
    width:300px;
    padding: 10px;
    margin-right: 15px;
    border-radius: 2%;
    box-shadow: 2px 2px 5px 0 #737775;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}